In [2]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 69kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 37.7MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=e39f7051301d2cca4fa52b0a9b0afc8e6e137a2362251e910379a7ddf15bf4e7
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [3]:
import pyspark
from pyspark.sql import SparkSession

In [39]:

spark = SparkSession.builder.appName('pratise').getOrCreate()
df_pyspark = spark.read.csv('tips.csv')

In [7]:

df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string]

In [8]:
df_pyspark.show()

+----------+----+------+------+---+------+----+
|       _c0| _c1|   _c2|   _c3|_c4|   _c5| _c6|
+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77|   2|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26|   5|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43|   3|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [9]:
df_pyspark = spark.read.option('header','true').csv('tips.csv')

In [10]:
df_pyspark

DataFrame[total_bill: string, tip: string, sex: string, smoker: string, day: string, time: string, size: string]

In [11]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [12]:
df_pyspark.printSchema()

root
 |-- total_bill: string (nullable = true)
 |-- tip: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: string (nullable = true)

## 1. pyspark Data Frame
## 2. Read the Dataset
## 3. Checking the datatypes of the columns
## 4. Selecting columns and Indexing
## 5. Check Describe option Similar to pandas
## 6. Adding Columns
## 7. Droping Columns

In [29]:
df_pyspark1 = spark.read.option('header','true').csv('tips.csv')

### Check the Schema

In [30]:
df_pyspark1.printSchema()

root
 |-- total_bill: string (nullable = true)
 |-- tip: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: string (nullable = true)

In [27]:
df_pyspark = spark.read.option('header','true').csv('tips.csv',inferSchema = True)

In [28]:
df_pyspark

DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: int]

In [22]:
df_pyspark.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

In [43]:
df_pyspark1 = spark.read.csv('tips.csv',header=True,inferSchema = True)

In [45]:
df_pyspark1.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [46]:
df_pyspark1.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

In [47]:
type(df_pyspark1)

pyspark.sql.dataframe.DataFrame

In [49]:
df_pyspark1.head(5)

[Row(total_bill=16.99, tip=1.01, sex='Female', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=10.34, tip=1.66, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=21.01, tip=3.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=23.68, tip=3.31, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=24.59, tip=3.61, sex='Female', smoker='No', day='Sun', time='Dinner', size=4)]

In [50]:
df_pyspark1.tail(5)

[Row(total_bill=29.03, tip=5.92, sex='Male', smoker='No', day='Sat', time='Dinner', size=3),
 Row(total_bill=27.18, tip=2.0, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=2),
 Row(total_bill=22.67, tip=2.0, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2),
 Row(total_bill=17.82, tip=1.75, sex='Male', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=18.78, tip=3.0, sex='Female', smoker='No', day='Thur', time='Dinner', size=2)]

### How to Select Columns

In [51]:
df_pyspark1.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [52]:
df_pyspark1.select('total_bill')

DataFrame[total_bill: double]

In [58]:
df_pyspark1.select('total_bill').show()

+----------+
|total_bill|
+----------+
|     16.99|
|     10.34|
|     21.01|
|     23.68|
|     24.59|
|     25.29|
|      8.77|
|     26.88|
|     15.04|
|     14.78|
|     10.27|
|     35.26|
|     15.42|
|     18.43|
|     14.83|
|     21.58|
|     10.33|
|     16.29|
|     16.97|
|     20.65|
+----------+
only showing top 20 rows

In [60]:
df_pyspark1.select(['total_bill','sex']).show()

+----------+------+
|total_bill|   sex|
+----------+------+
|     16.99|Female|
|     10.34|  Male|
|     21.01|  Male|
|     23.68|  Male|
|     24.59|Female|
|     25.29|  Male|
|      8.77|  Male|
|     26.88|  Male|
|     15.04|  Male|
|     14.78|  Male|
|     10.27|  Male|
|     35.26|Female|
|     15.42|  Male|
|     18.43|  Male|
|     14.83|Female|
|     21.58|  Male|
|     10.33|Female|
|     16.29|  Male|
|     16.97|Female|
|     20.65|  Male|
+----------+------+
only showing top 20 rows

In [61]:
df_pyspark1.select(['total_bill','sex','size']).show()

+----------+------+----+
|total_bill|   sex|size|
+----------+------+----+
|     16.99|Female|   2|
|     10.34|  Male|   3|
|     21.01|  Male|   3|
|     23.68|  Male|   2|
|     24.59|Female|   4|
|     25.29|  Male|   4|
|      8.77|  Male|   2|
|     26.88|  Male|   4|
|     15.04|  Male|   2|
|     14.78|  Male|   2|
|     10.27|  Male|   2|
|     35.26|Female|   4|
|     15.42|  Male|   2|
|     18.43|  Male|   4|
|     14.83|Female|   2|
|     21.58|  Male|   2|
|     10.33|Female|   3|
|     16.29|  Male|   3|
|     16.97|Female|   3|
|     20.65|  Male|   3|
+----------+------+----+
only showing top 20 rows

In [62]:
df_pyspark1.select(['total_bill','sex','size','tip']).show()

+----------+------+----+----+
|total_bill|   sex|size| tip|
+----------+------+----+----+
|     16.99|Female|   2|1.01|
|     10.34|  Male|   3|1.66|
|     21.01|  Male|   3| 3.5|
|     23.68|  Male|   2|3.31|
|     24.59|Female|   4|3.61|
|     25.29|  Male|   4|4.71|
|      8.77|  Male|   2| 2.0|
|     26.88|  Male|   4|3.12|
|     15.04|  Male|   2|1.96|
|     14.78|  Male|   2|3.23|
|     10.27|  Male|   2|1.71|
|     35.26|Female|   4| 5.0|
|     15.42|  Male|   2|1.57|
|     18.43|  Male|   4| 3.0|
|     14.83|Female|   2|3.02|
|     21.58|  Male|   2|3.92|
|     10.33|Female|   3|1.67|
|     16.29|  Male|   3|3.71|
|     16.97|Female|   3| 3.5|
|     20.65|  Male|   3|3.35|
+----------+------+----+----+
only showing top 20 rows

In [63]:
df_pyspark1.select(['total_bill','sex','size','tip'])

DataFrame[total_bill: double, sex: string, size: int, tip: double]

In [65]:
df_pyspark1['total_bill','sex']

DataFrame[total_bill: double, sex: string]

In [67]:
df_pyspark1.describe().show()

+-------+------------------+------------------+------+------+----+------+------------------+
|summary|        total_bill|               tip|   sex|smoker| day|  time|              size|
+-------+------------------+------------------+------+------+----+------+------------------+
|  count|               244|               244|   244|   244| 244|   244|               244|
|   mean|19.785942622950824|2.9982786885245902|  null|  null|null|  null| 2.569672131147541|
| stddev| 8.902411954856857|1.3836381890011815|  null|  null|null|  null|0.9510998047322347|
|    min|              3.07|               1.0|Female|    No| Fri|Dinner|                 1|
|    max|             50.81|              10.0|  Male|   Yes|Thur| Lunch|                 6|
+-------+------------------+------------------+------+------+----+------+------------------+

## Adding Columns in Data Frames

In [68]:
df_pyspark1.withColumn('information about Total_bill',df_pyspark1['total_bill']-df_pyspark1['tip'])

DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: int, information about Total_bill: double]

In [69]:
df_pyspark1.withColumn('information about Total_bill',df_pyspark1['total_bill']-df_pyspark1['tip']).show()

+----------+----+------+------+---+------+----+----------------------------+
|total_bill| tip|   sex|smoker|day|  time|size|information about Total_bill|
+----------+----+------+------+---+------+----+----------------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|          15.979999999999999|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|                        8.68|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|                       17.51|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|                       20.37|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|                       20.98|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|                       20.58|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|                        6.77|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|          23.759999999999998|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|          13.079999999999998|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|          11.549999999999999|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|           8.559999999999999|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|          30.259999999999998|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|                       13.85|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|                       15.43|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|                       11.81|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|          17.659999999999997|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|                        8.66|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|          12.579999999999998|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|          13.469999999999999|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|          17.299999999999997|
+----------+----+------+------+---+------+----+----------------------------+
only showing top 20 rows

## Drop the Columns

In [71]:
df_pyspark1.drop('information about Total_bill').show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

##  Rename the Columns

In [72]:
df_pyspark1.withColumnRenamed('total_bill','Total Bill')

DataFrame[Total Bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: int]

In [73]:
df_pyspark1.withColumnRenamed('total_bill','Total Bill').show()

+----------+----+------+------+---+------+----+
|Total Bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows